@import "../common.scss";

.textarea-container {
  flex-grow: 5;
  padding-bottom: 0%;
}

.session-input {
  width: 100%;
  height: 100%;
}

.go-button {
  flex-grow: 1;
}

.load-session-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.new-session-button {
  width: 100%;
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
