@import "../common.scss";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

:host-context(.bootstrap-dark) {
  @import "~@forevolve/bootstrap-dark/scss/dark-variables";
  @import "../../custom-colors-dark.scss";

  .top-bar-container {
    background-color: $body-bg;
  }

  .content-container {
    a {
      color: rgb(93, 93, 236);
    }
  }
}

:host-context(.bootstrap) {
  @import "../../custom-colors-light.scss";

  .top-bar-container {
    background-color: $body-bg;
  }
}

.top-bar-container {
  position: fixed;
  width: 100%;
  z-index: 100;
}

.first-page {
  gap: 50px;
  justify-content: center;
  align-items: center !important;
  flex-direction: column;
}

.content-container {
  display: flex;
  flex-direction: column !important;
  width: 100%;
  flex-wrap: nowrap;
}

.content-page {
  display: flex;
  min-height: 100vh;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
}

.screen-about {
  height: 100%;
  flex-direction: column;
}

.about-content-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  gap: 20px;
}

.content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  flex-grow: 1;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.6);
  border-radius: 40px;
}

.about-grid {
  display: grid;
  width: 80vw;
}

.about-title-layer,
.about-carousel-layer {
  grid-column: 1;
  grid-row: 1;
}

.about-title-layer {
  margin-top: 80px;
  margin-left: 30px;
  z-index: 2;
  pointer-events: none;
}

.about-title {
  display: inline-block;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.6);
  border-radius: 40px;
  color: white;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.about-carousel-layer {
  max-width: 80vw;
  align-self: center;
}

.faq-questions-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.contact-info-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.contact-list-item:not(:last-child) {
  margin-bottom: 50px;
}

.policies-container {
  flex-direction: row;
  width: 100%;
  justify-content: center;
  background-color: rgb(200, 200, 200);
}

:host-context(.bootstrap-dark) {
  @import "~@forevolve/bootstrap-dark/scss/dark-variables";
  @import "../../custom-colors-dark.scss";

  .policies-container {
    background-color: #16191d;
  }
}

.policies-nav {
  padding: 0px;
}

.activable-item.active {
  border-radius: 10px;
}

.home-navigation {
  gap: 3px;
}