/* You can add global styles to this file, and also import other style files */

@use "sass:list";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$cursor-colors: rgb(255,255, 0), rgb(0, 128, 0), rgb(255, 0, 255), rgb(255, 0, 0), rgb(0, 0, 255);
$selection-colors: rgb(255,255, 0), rgb(0, 128, 0), rgb(255, 0, 255), rgb(255, 0, 0), rgb(0, 0, 255);

$cursor-colors-dark: rgb(255,255, 0), rgb(0, 128, 0), rgb(255, 0, 255), rgb(255, 0, 0), rgb(0, 0, 255);
$selection-colors-dark: rgb(255,255, 100), rgb(128, 255, 128), rgb(255, 0, 255), rgb(255, 0, 0), rgb(100, 100, 255);

@for $i from 1 through list.length($cursor-colors) {
  
  .other-user-cursor-#{$i} {
    background: list.nth($cursor-colors, $i);
    width: 2px !important;
  }

  .other-user-selection-#{$i} {
    background: list.nth($selection-colors, $i);
    opacity: 0.3;
    min-width: 0.5em !important;
    border-radius: 3px;
  }

  .other-user-cursor-dark-#{$i} {
    background: list.nth($cursor-colors-dark, $i);
    width: 2px !important;
  }

  .other-user-selection-dark-#{$i} {
    background: list.nth($selection-colors-dark, $i);
    opacity: 0.4;
    min-width: 0.5em !important;
    border-radius: 3px;
  }
}

@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import "./local-toggle-bootstrap.scss";
@import "./local-toggle-bootstrap-dark.scss";
