/* You can add global styles to this file, and also import other style files */

@use "sass:list";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$decoration-colors: magenta, green, yellow, red, blue;

@for $i from 1 through list.length($decoration-colors) {
  .other-user-cursor-#{$i} {
    background: list.nth($decoration-colors, $i);
    width: 2px !important;
  }

  .other-user-selection-#{$i} {
    background: list.nth($decoration-colors, $i);
    opacity: 0.3;
    min-width: 6px !important;
  }
}

@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "./local-toggle-bootstrap.scss";
@import "./local-toggle-bootstrap-dark.scss";
