packages:
  yum:
    python3-devel: []
    python3: []
    python3-pip: []
    docker: []
#    snapd: []
files:
  "/etc/requirements.txt" :
    mode: "000755"
    owner: root
    group: root
    source: https://raw.githubusercontent.com/pasiasty/cocoder/master/requirements.txt
commands:
  01_install_python_dependencies:
    command: pip3 install -r /etc/requirements.txt
  02_start_docker_service:
    command: systemctl start docker
  03_pull_python_image:
    command: docker pull python:latest
#  04_install_clangd_from_snap:
#    command: snap install clangd --classic
  05_list_repos:
     command: yum repolist
  06_list_packages:
     command: yum list
container_commands:
  01_allow_running_docker_without_sudo:
    command: usermod -a -G docker webapp