packages:
  yum:
    python3-devel: []
    python3: []
    python3-pip: []
    docker: []
files:
  "/etc/requirements.txt" :
    mode: "000755"
    owner: root
    group: root
    source: https://raw.githubusercontent.com/pasiasty/cocoder/master/requirements.txt
commands:
  install_python_dependencies:
    command: pip3 install -r /etc/requirements.txt
  configure_sudio:
    command: echo "webapp    ALL=(ALL:ALL) ALL" >> /etc/sudoers
  pull_python_image:
    command: docker pull python:latest
  start_docker_service:
    command: systemctl start docker
