packages:
  yum:
    python3-devel: []
    python3: []
    python3-pip: []
files:
  "/etc/requirements.txt" :
    mode: "000755"
    owner: root
    group: root
    source: https://raw.githubusercontent.com/pasiasty/cocoder/master/requirements.txt
commands:
  install_python_dependencies:
    command: pip3 install -r /etc/requirements.txt
