@import "../common.scss";

.logo {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5em;
  text-align: center;
}

.language-dropdown {
  min-width: 160px;
  text-align: right;
}

.dropdown-menu {
  overflow-y: auto;
  max-height: 300px;
}

.top-bar-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: baseline;
}

.empty-space {
  flex-grow: 1;
}

:host-context(.bootstrap-dark) {
  .btn:hover {
    background-color: rgb(90, 90, 90);
  }

  .btn:active {
    background-color: rgb(40, 40, 40);
  }
}

:host-context(.bootstrap) {
  .btn:hover {
    background-color: rgb(200, 200, 200);
  }

  .btn:active {
    background-color: rgb(160, 160, 160);
  }
}

.editor-controls-container {
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: baseline;
}
