@import "../common.scss";

.logo {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5em;
  text-align: center;
  margin-left: 5px;
}

:host-context(.bootstrap) {
  .logo {
    background-color: rgb(220, 220, 220);
    border: 0px;
  }
}

.language-dropdown {
  margin-left: 15px;
  min-width: 100px;
  text-align: right;
}

.dropdown-menu {
  overflow-y: auto;
  max-height: 300px;
}

.top-bar-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  min-height: 56px;
  align-items: center;
  padding: 7px;
}

.empty-space {
  flex-grow: 1;
}

:host-context(.bootstrap-dark) {
  .btn:hover {
    background-color: rgb(90, 90, 90);
  }

  .btn:active {
    background-color: rgb(40, 40, 40);
  }

  .activable-item.active {
    background-color: rgb(60, 60, 60);
  }
}

:host-context(.bootstrap) {
  .btn:hover {
    background-color: rgb(200, 200, 200);
  }

  .btn:active {
    background-color: rgb(160, 160, 160);
  }

  .activable-item.active {
    background-color: rgb(200, 200, 200);
  }
}

.editor-controls-container {
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: center;
}

.home-navigation {
  gap: 3px;
}

.activable-item.active {
  border-radius: 10px;
}
