@import "../common.scss";

.editor-field {
  width: 100%;
  position: relative;
  overflow: hidden;
  flex-grow: 1;
}

.content-container {
  overflow: hidden;
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
}
