.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.row-content-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
