.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.row-content-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.logo {
  font-family: "Courier New", Courier, monospace;
  font-size: 2em;
  text-align: center;
  text-shadow: 2px 2px #999999;
}
